

#container{
  width: 960px;
  margin: 0 auto;
}

#container p
{
  font-size: 30px;
  font-family: "Krungthep", sans-serif;
}

#guess
{
  margin-top: 50px;
  margin-left: 20px;
}

#image{
  width: 500px;
  float: right;
}

#guess{
  width: 300px;
  float: left;
}

.wrongLetter{
  clear: both;
  background-color: red;
  width: 300px;
  height: 300px;
}

#head, #left-arm_1_, #right-arm_1_, #left-leg_1_, #right-leg_1_, #body_1_{
  opacity: 0;
  transition: all 0.5s ease;
}

.lose{
  width: 960px;
  height: 900px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  background-color: white;
  display: none;
}



.loseContent{
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-image: url(../images/you_lose.svg);
  color: white;
}

.show-piece{
  display: block;
  opacity: 1 !important;
  display: visible;
}
