

#container{
  width: 1140px;
  margin: 0 auto;
}

#container 
{
  font-size: 30px;
  font-family: "Krungthep", sans-serif;
  text-align: center;
}


#guess
{
  margin-top: 50px;
  margin-left: 20px;
}

#image{
  width: 400px;
  float: right;
}

#guess{
  width: 500px;
  float: left;
}

.wrongLetter{
  clear: both;
  background-color: red;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.letter-count{
  font-size: 18px;
  color: red;
  text-align: center;
  margin-bottom: 0;
}

#head, #left-arm_1_, #right-arm_1_, #left-leg_1_, #right-leg_1_, #body_1_{
  opacity: 0;
  transition: all 0.5s ease;
}

.lose{
  width: 100%;
  height: 900px;
  position: absolute;
  top: 0;
  background-color: white;
  display: none;
}



.loseContent{
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-image: url(../images/you_lose.svg);
  color: white;
}

.show-piece{
  display: block;
  opacity: 1 !important;
  display: visible;
}

.guess{
  width: 30px;
  height: 30px;
  font-size: 24px;
  padding: 5px;
  border-radius: 2px;

}

.inputGuess{
  margin: 0 auto;
  text-align: center;
}

.resetScreen{
  font-size: 30px;
  font-family: "Krungthep", sans-serif;
  text-align: center;
}

button{
  font-size: 25px;
  padding: 5px;
  color: red;
  border-radius: 5px;
  background-color: white;
  border: 2px solid red;
}






